data/** linguist-vendored
data/** linguist-documentation
sd_card.zip linguist-vendored

*.t linguist-documentation
*.t linguist-detectable=false

*.cl linguist-language=OpenCL
*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.h linguist-language=C++
